<html>
  <head>
    <title>Todo list</title>
  </head>
  <body>
    <table border="0" cellpadding="10">
      <tr>
        <td>
          <h1>"TODO LIST" Python Flask Application</h1>
        </td>
      </tr>
    </table>
    <p>Homepage </p>
    <p>To prove that they work, you can execute either of the following links:
    <ul>
      <p>To view main index page vist the route http://35.187.103.1:5000 </p>
      <p>To view all tasks visit the route the route http://35.187.103.1:5000/list</p>
      <p>To insert a new task http://35.187.103.1:5000/add/newTask</p>
      <p>To update a task  http://35.187.103.1:5000/update/newTask/numberOfTask</p>
      <p>To delete a task http://35.187.103.1:5000/delete/numberOfTask </p>
      </ul>
      <ul>
        <p> The data should apeare below</p>
        {{name}}
      </ul>
  </body>
</html>
