<html>
  <head>
    <title>TO DO LIST Python Flask Application</title>
  </head>
  <body bgcolor=blue>
    <table border="0" cellpadding="10">
      <tr>
        <td>
         </td>
        <td>
          <h1>"TO DO LIST" Python Flask Application and MYSQL</h1>
        </td>
      </tr>
    </table>
    <p>This is the home page for the TO DO LIST Web application. </p>
    <p>To prove that they work, you can execute either of the following links:
    <ul>
      <p>To view main index page vist the route http://35.197.219.147:5000 </p>
      <p>To view all recored task visit the route the route http://35.197.219.147:5000/list</p>
      <p>To insert a new record http://35.197.219.147:5000/add/newTask</p>
      <p>To update a record based on the email  http://35.197.219.147:5000/update/newTask/numberOfTask</p>
      <p>To delete a record http://35.195.252.125:5000/delete/numberOfTask </p>
      </ul>
      <ul>
        <p> The data should apeare below</p>
        {{name}}
      </ul>
  </body>
</html>
